a { 
    outline: none;
}


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body {
     background: rgb(255,255,255);
     background: linear-gradient(0deg, rgba(255,255,255,1) 97%, rgba(0,0,0,1) 100%);
}


.social {
    width: 30px;
    height: 30px;
    z-index:100;
    position: absolute;
    transform: translateX(-50%);
}


.nav-link {
    color: #888B8F;
    float: right;
}


.anchor-icon {
    float: left;
    margin-right: 1em;
}


.section { 
    min-height: 100vh;
    padding: 6em 3vw 0 5vw;
}


.section:nth-child(even) {
}


.section-title {
    margin: 0 0 1em 0;
}


.v-line {
    border-left: 10px solid #343A40;
    height: 100%;
    position: absolute;
}


.v-line-dot {
    border-left: 5px dotted #343A40;
    height: 100%;
    margin-left: 1em;
}


.work-exp-card {
    margin: 0 0 3em 0;
    background-color: #FAFAFA;
}


.work-date {
    float: right;
}


.card-content {
    padding: 2em 2em 2em 2em;
}


#footer-title {
    text-align: center;
    color: #888B8F;
    margin-top: 10px;
}


#salutation {
    height: 100vh;
}


#header {
    height: 20em;
    background-color: #2F71E9;
}


#cv {
}


#projects {
    margin-bottom: 5em;
}


#contact {
    padding: 6em 5vw 0 5vw;
}


#social-git {
    left: 40vw;
    top: 65vh;
}


#social-linkedin {
    left: 50vw;
    top: 65vh;
}


#social-resume {
    left: 60vw;
    top: 65vh;
    width: 25px;
    height: 25px;
}


/*-------------------Header0 animation-------------------*/
.large-header {
   position: relative;
   width: 100%;
   background: #111;
   overflow: hidden;
   background-size: cover;
   background-position: center center;
   z-index: 1;
}


.animation .large-header {
   background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg");
}


.main-title {
   z-index: 100;
   position: absolute;
   margin: 0;
   padding: 0;
   color: #F9F1E9;
   text-align: center;
   top: 50%;
   left: 50%;
   -webkit-transform: translate3d(-50%, -50%, 0);
   transform: translate3d(-50%, -50%, 0);
}


.animation .main-title {
   text-transform: uppercase;
   font-size: 4.2em;
   letter-spacing: 0.1em;
}


.main-title .thin {
   font-weight: 200;
}


@media only screen and (max-width: 768px) {
   .animation .main-title {
      font-size: 3em;
   }
}
/*-----------------Header0 animation end-----------------*/


/*-------------------Header1 animation-------------------*/
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}


.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}


.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}


.bgTop {
    z-index: 15;
    opacity: 0.5;
}


.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}


.bgBottom {
    z-index: 5;
}


.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}


.waveTop {
    background-size: 50% 100px;
}


.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}


.waveMiddle {
    background-size: 50% 120px;
}


.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}


.waveBottom {
    background-size: 50% 100px;
}


.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
/*-----------------Header1 animation end-----------------*/


/*-----------------Typing animation start-----------------*/
h1 {
    border-right: solid 3px rgba(255, 255, 255);
    white-space: nowrap;
    overflow: hidden;    
    color: rgba(255, 255, 255);
}


/* Animation */
h1 {
    animation: animated-text 4s steps(29, end) 1s 1 normal both,
               animated-cursor 600ms steps(29, end) infinite;
}


@media only screen and (min-width: 768px) {
    /* text animation */
    @keyframes animated-text{
        from{width: 0;}
        to{width: 520px;}
    }
}


@media only screen and (max-width: 500px) {
    /* text animation */
    @keyframes animated-text{
        from{width: 0;}
        to{width: 230px;}
    }
}


/* cursor animations */
@keyframes animated-cursor{
    from{border-right-color: rgba(255, 255, 255);}
    to{border-right-color: transparent;}
}
/*------------------Typing animation end------------------*/
